body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(img/fondo_inicio3.png);
    width: 100%;
    color: black;
    text-align: center;
    padding: 100px;
    font-weight: bold;
    background-repeat: no-repeat;
    position: relative;
}

header h1 {
    margin: 0;
}

nav  {
    background-color: gainsboro;
    text-align: center;
    padding: 10px;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 40px;
}

nav ul li a  {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

a:hover{
    text-decoration: underline;
}

.forum-intro {
    background-image: url(img/fondo.jpg);
    background-size: cover;
    padding: 150px;
    margin: 0px;
}

.forum-intro h2 {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    font-size: 40px;
}

footer {
    text-align: center;
    /*background-image: url(fondo-menu-platos-vista-superior-espacio-libre-su-texto-estilo-rustico_187166-44132.avif);*/
    color: black;
    padding: 10px;
}


/*Css  Slide*/

.position{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.slider{
    background-image:url(img/fondo_final.png) ;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    animation: animate 10s infinite;
}
/*
@keyframes animate{
    20%{
        background-image: url(img/fondo4.png) ;
        background-size: cover;
    }
    20%{
        background-image: url(img/f.elconfidencial.com_original_8d3_388_5c2_8d33885c2d7c9b44378d0384b7cbc184.jpg);
        background-size: cover;
    }
    20%{
        background-image: url(img/fondo-menu-platos-vista-superior-espacio-libre-su-texto-estilo-rustico_187166-44132.avif);
        background-size: cover;
    }
} */


/* Segunda galeria
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 20px;
}

.photo {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    cursor: pointer;
}

.photo:hover {
    transform: scale(1.1);
}

.photo img {
    max-width: 30%;
    height: auto;
    display: block;
}

.caption {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 5px;
    font-size: 14px;
}
*/


/*Tercera galeria*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.product-gallery {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.product {
    background-color: tan;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product h3 {
    margin-top: 10px;
    font-size: 18px;
}

.product p {
    margin: 10px 0;
    font-size: 14px;
}

.product:not(:last-child) {
    margin-right: 20px;
}

.image-container {
    overflow: hidden;
    position: relative;
}

.image-container img {
    transition: transform 0.3s;
}

.image-container:hover img {
    transform: scale(1.2);
}

.product:hover {
    transform: translateY(-5px);
}


input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #0056b3;
}

.button_plus {
    position: absolute;
    width: 35px;
    height: 35px;
    background: #fff;
    cursor: pointer;
    border: 2px solid #095776;
  
    /* Mittig */
    top: 50%;
    left: 50%;
  }
  
  .button_plus:after {
    content: '';
    position: absolute;
    transform: translate(-50%, -50%);
    height: 4px;
    width: 50%;
    background: #095776;
    top: 50%;
    left: 50%;
  }
  
  .button_plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #095776;
    height: 50%;
    width: 4px;
  }
  
  .button_plus:hover:before,
  .button_plus:hover:after {
    background: #fff;
    transition: 0.2s;
  }
  
  .button_plus:hover {
    background-color: #095776;
    transition: 0.2s;
  }.button_plus {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #fff;
  cursor: pointer;
  border: 2px solid #095776;

  /* Mittig */
  top: 50%;
  left: 50%;
}

.button_plus:after {
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  height: 4px;
  width: 50%;
  background: #095776;
  top: 50%;
  left: 50%;
}

.button_plus:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #095776;
  height: 50%;
  width: 4px;
}

.button_plus:hover:before,
.button_plus:hover:after {
  background: #fff;
  transition: 0.2s;
}

.button_plus:hover {
  background-color: #095776;
  transition: 0.2s;
}






body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #007bff;
}


.paginacion {
    margin-top: 20px;
    text-align: center;
}

.boton-paginacion {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.boton-paginacion:hover {
    background-color: #f0f0f0;
}

.boton-paginacion.active {
    background-color: #007bff;
    color: white;
}